@page "/myevent/allevent"

@using Microsoft.AspNetCore.Authorization
@using Middle0.UI.Models
@using Middle0.UI.Services
@using Middle0.UI.MyComponents
@using Microsoft.AspNetCore.Components.Authorization

@inject EventServiceUi ESUI

@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <EventsComponent />
    </Authorized>
    <NotAuthorized>
        <p>You have no access</p>
    </NotAuthorized>
</AuthorizeView>